<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
  <div class="navbar-expand m-auto navbar-text">
    Made with <i class="fa fa-heart"></i> by <a href="https://twitter.com/alimol">Ali Moloodi</a>
  </div>

        <!--<ul class="n-footer__corp-link-list">-->
          <!--<li class="n-footer__corp-link-list-header">-->
            <!--<a href="http://www.netapp.com/us/company/index.aspx" class="n-footer__corp-link">COMPANY</a>-->
          <!--</li>-->
          <!--<li class="n-footer__corp-link-list-item">-->
            <!--<a class="n-footer__corp-link" href="http://www.netapp.com/us/company/about-netapp/index.aspx">Our Story</a>-->
          <!--</li>-->
          <!--<li class="n-footer__corp-link-list-item">-->
            <!--<a class="n-footer__corp-link" href="http://www.netapp.com/us/company/news/index.aspx">News@NetApp</a>-->
          <!--</li>-->
          <!--<li class="n-footer__corp-link-list-item">-->
            <!--<a class="n-footer__corp-link" href="http://www.netapp.com/us/company/events/index.aspx">Events</a>-->
          <!--</li>-->
          <!--<li class="n-footer__corp-link-list-item">-->
            <!--<a target="_blank" class="n-footer__corp-link" href="http://www.netapp-insight.com/">NetApp Insight</a>-->
          <!--</li>-->
          <!--<li class="n-footer__corp-link-list-item">-->
            <!--<a class="n-footer__corp-link" href="http://www.netapp.com/us/company/customer-stories/index.aspx">Customer Stories</a>-->
          <!--</li>-->
          <!--<li class="n-footer__corp-link-list-item" >-->
            <!--<a ui-sref="authentication.signin" class="n-footer__corp-link" target="_self">Investors</a>-->
          <!--</li>-->
          <!--&lt;!&ndash;<li class="n-footer__corp-link-list-item">&ndash;&gt;-->
          <!--&lt;!&ndash;<a class="n-footer__corp-link" href="http://investors.netapp.com/">Investors</a>&ndash;&gt;-->
          <!--&lt;!&ndash;</li>&ndash;&gt;-->
          <!--<li class="n-footer__corp-link-list-item">-->
            <!--<a class="n-footer__corp-link" href="http://www.netapp.com/us/careers/index.aspx">Careers</a>-->
          <!--</li>-->
          <!--<li class="n-footer__corp-link-list-item">-->
            <!--<a class="n-footer__corp-link" href="http://www.netapp.com/us/contact-us/index.aspx">Contact Us</a>-->
          <!--</li>-->
        <!--</ul>-->
        <!--<ul class="n-footer__corp-link-list">-->
          <!--<li class="n-footer__corp-link-list-header">-->
            <!--Sales-->
          <!--</li>-->
          <!--<li class="n-footer__corp-link-list-item">-->
            <!--<a class="n-footer__corp-link" href="http://www.netapp.com/us/how-to-buy/index.aspx">How To Buy</a>-->
          <!--</li>-->
          <!--<li class="n-footer__corp-link-list-item">-->
            <!--<a class="n-footer__corp-link" href="http://solutionconnection.netapp.com/US/NorthAmerica/PartnerDirectory.aspx">Find A Partner</a>-->
          <!--</li>-->
          <!--<li class="n-footer__corp-link-list-item">-->
            <!--<a class="n-footer__corp-link" href="http://www.netapp.com/us/how-to-buy/netapp-capital-solutions/index.aspx">NetApp Capital Solutions</a>-->
          <!--</li>-->

          <!--<li class="n-footer__corp-link-list-item">-->
            <!--<a class="n-footer__corp-link" href="http://www.netapp.com/us/company/about-netapp/ebc/index.aspx">Executive Briefing Center</a>-->
          <!--</li>-->
        <!--</ul>-->
        <!--<ul class="n-footer__corp-link-list">-->
          <!--<li class="n-footer__corp-link-list-header">-->
            <!--<a href="http://www.netapp.com/us/legal/index.aspx" class="n-footer__corp-link">Legal</a>-->
          <!--</li>-->
          <!--<li class="n-footer__corp-link-list-item">-->
            <!--<a class="n-footer__corp-link" href="http://www.netapp.com/us/legal/privacypolicy/index.aspx">Privacy &amp; Cookie Policy</a>-->
          <!--</li>-->
          <!--<li class="n-footer__corp-link-list-item">-->
            <!--<a class="n-footer__corp-link" href="http://www.netapp.com/us/legal/copyright.aspx">Copyright</a>-->
          <!--</li>-->
          <!--<li class="n-footer__corp-link-list-item">-->
            <!--<a class="n-footer__corp-link" href="http://www.netapp.com/us/legal/netapptmlist.aspx">Trademarks</a>-->
          <!--</li>-->
          <!--<li class="n-footer__corp-link-list-item">-->
            <!--<a class="n-footer__corp-link" href="http://www.netapp.com/us/legal/terms-of-use.aspx">Community Terms of Use</a>-->
          <!--</li>-->
          <!--<li class="n-footer__corp-link-list-item">-->
            <!--<a class="n-footer__corp-link" href="http://www.netapp.com/us/legal/ca-senate-bill-657.aspx">Slavery and Human Trafficking Statement</a>-->
          <!--</li>-->
          <!--<li class="n-footer__corp-link-list-item">-->
            <!--<a class="n-footer__corp-link" href="http://www.netapp.com/us/legal/accessibility.aspx">Accessibility</a>-->
          <!--</li>-->
        <!--</ul>-->
        <!--<ul class="n-footer__corp-link-list">-->
          <!--<li class="n-footer__corp-link-list-header">Resources</li>-->
          <!--<li class="n-footer__corp-link-list-item">-->
            <!--<a class="n-footer__corp-link" href="http://www.netapp.com/us/packs/index.aspx">Packs</a>-->
          <!--</li>-->
          <!--<li class="n-footer__corp-link-list-item">-->
            <!--<a class="n-footer__corp-link" href="http://www.netapp.com/us/library/index.aspx">Library</a>-->
          <!--</li>-->
        <!--</ul>-->

          <!--<a href="http://www.netapp.com/us/legal/copyright.aspx" class="n-footer__copyright-link">© 2017 NetApp</a>-->


          <!--<ul class="n-footer__social-link-list">-->
            <!--<li class="n-footer__social-link-list-item" target="_blank">-->
              <!--<a class="n-footer__social-link" data-ntap-social="follow-blog" href="http://blog.netapp.com/" target="_blank" title="blog" alt="blog">-->
                <!--<span class="n-footer__social-link-text">blog</span>-->
                <!--<svg class="n-icon-blog n-footer__social-link-icon" aria-labelledby="title">-->
                  <!--<title>blog</title>-->
                  <!--<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/images/icons/icons.svg#blog"></use>-->
                <!--</svg>-->
              <!--</a>-->
            <!--</li>-->
            <!--<li class="n-footer__social-link-list-item" target="_blank">-->
              <!--<a class="n-footer__social-link" data-ntap-social="follow-community" href="http://community.netapp.com/" target="_blank" title="community" alt="community">-->
                <!--<span class="n-footer__social-link-text">community</span>-->
                <!--<svg class="n-icon-community n-footer__social-link-icon" aria-labelledby="title">-->
                  <!--<title>community</title>-->
                  <!--<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/images/icons/icons.svg#community"></use>-->
                <!--</svg>-->
              <!--</a>-->
            <!--</li>-->
            <!--<li class="n-footer__social-link-list-item" target="_blank">-->
              <!--<a class="n-footer__social-link" data-ntap-social="follow-twitter" href="https://twitter.com/netapp" target="_blank" title="twitter" alt="twitter">-->
                <!--<span class="n-footer__social-link-text">twitter</span>-->
                <!--<svg class="n-icon-twitter n-footer__social-link-icon" aria-labelledby="title">-->
                  <!--<title>twitter</title>-->
                  <!--<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/images/icons/icons.svg#twitter"></use>-->
                <!--</svg>-->
              <!--</a>-->
            <!--</li>-->
            <!--<li class="n-footer__social-link-list-item" target="_blank">-->
              <!--<a class="n-footer__social-link" data-ntap-social="follow-facebook" href="http://www.facebook.com/NetApp" target="_blank" title="facebook" alt="facebook">-->
                <!--<span class="n-footer__social-link-text">facebook</span>-->
                <!--<svg class="n-icon-facebook n-footer__social-link-icon" aria-labelledby="title">-->
                  <!--<title>facebook</title>-->
                  <!--<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/images/icons/icons.svg#facebook"></use>-->
                <!--</svg>-->
              <!--</a>-->
            <!--</li>-->
            <!--<li class="n-footer__social-link-list-item" target="_blank">-->
              <!--<a class="n-footer__social-link" data-ntap-social="follow-linkedin" href="http://www.linkedin.com/company/netapp" target="_blank" title="linkedin" alt="linkedin">-->
                <!--<span class="n-footer__social-link-text">linkedin</span>-->
                <!--<svg class="n-icon-linkedin n-footer__social-link-icon" aria-labelledby="title">-->
                  <!--<title>linkedin</title>-->
                  <!--<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/images/icons/icons.svg#linkedin"></use>-->
                <!--</svg>-->
              <!--</a>-->
            <!--</li>-->
            <!--<li class="n-footer__social-link-list-item" target="_blank">-->
              <!--<a class="n-footer__social-link" data-ntap-social="follow-youtube" href="http://www.youtube.com/user/NetAppTV" target="_blank" title="youtube" alt="youtube">-->
                <!--<span class="n-footer__social-link-text">youtube</span>-->
                <!--<svg class="n-icon-youtube n-footer__social-link-icon" aria-labelledby="title">-->
                  <!--<title>youtube</title>-->
                  <!--<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/images/icons/icons.svg#youtube"></use>-->
                <!--</svg>-->
              <!--</a>-->
            <!--</li>-->
            <!--<li class="n-footer__social-link-list-item" target="_blank">-->
              <!--<a class="n-footer__social-link" data-ntap-social="follow-slideshare" href="http://www.slideshare.net/NetApp" target="_blank" title="slideshare" alt="slideshare">-->
                <!--<span class="n-footer__social-link-text">slideshare</span>-->
                <!--<svg class="n-icon-slideshare n-footer__social-link-icon" aria-labelledby="title">-->
                  <!--<title>slideshare</title>-->
                  <!--<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/images/icons/icons.svg#slideshare"></use>-->
                <!--</svg>-->
              <!--</a>-->
            <!--</li>-->
          <!--</ul>-->

        <!--<p class="n-footer__fine-print">Have feedback for our website?-->
          <!--<a href="mailto:staas.feedback@netapp.com">Let us know</a>-->
        <!--</p>-->

  <!-- Footer -->
  <!-- Footer -->
</nav>
